table {
    width: 100%;
  }
  
.example-container {
  overflow-x: scroll;
}
th{
    background-color: #4CAF50;
    color: white;
    margin: 0 15px 0;
}
table{
  width: 100%;
  border-collapse: collapse;
}

tr:hover{
    background-color: #b7f899;
}

/* tr td:last-child{
  width:1%;
  white-space:nowrap;
} */

/* td{
  border:1px solid #000;
} */