<table class="table">
  <thead>
    <tr>
      <th>Tipo de Vehículos</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let tipoVehiculos of listaTipoVehiculos">
      <td scope="row">{{ tipoVehiculos.nombreTipoVehiculo }}</td>
      <td>
        <a class="btn btn-secondary text-white" (click)="onEdit(tipoVehiculos)">
          <i class="far fa-edit"></i>
        </a>
        <a class="btn btn-danger text-white" (click)="onDelete(tipoVehiculos.$key)">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<simple-notifications></simple-notifications>
