<div class="mt-3 ml-auto">
        <form
          class="form-group w-100"
          #nuevoCargo="ngForm"
          (ngSubmit)="agregarCargo(nuevoCargo)"
        >
          <input
            type="hidden"
            name="$key"
            #$key="ngModel"
            [(ngModel)]="servicioServices.seleccionarCargo.$key"
          />
          <input
            type="text"
            class="form-control"
            name="cargo"
            #cargo="ngModel"
            [(ngModel)]="
            servicioServices.seleccionarCargo.cargo
            "
            placeholder="Nuevo cargo"
          />
      
          <input class="btn btn-success m-2" type="submit" value="Guardar" />
          <input class="btn btn-secondary" type="button" value="Limpiar" (click)="resetForm(cargo)"/>
      
        </form>
        
      </div>
      
      
