<div class="mt-3 ml-auto">
    <form
      class="form-group w-100"
      #personalTransito="ngForm"
      (ngSubmit)="addPersonalTransito(personalTransito)"
    >
      <input
        type="hidden"
        name="$key"
        #$key="ngModel"
        [(ngModel)]="servicioServices.seleccionarPersonal.$key"
      />
  <!-- 
       <input
        type="text"
        class="form-control"
        id=""
        placeholder="Servicio de vehiculo"
        name="nombrePersonal"
        #nombrePersonal="ngModel"
        [(ngModel)]="
          serviciosService.seleccionarServicioVehicular.nombreTipoServicio
        "
      />  -->
  
      <input
        type="text"
        class="form-control"
        placeholder="Nombre"
        name="nombrePersonal"
        #nombrePersonal="ngModel"
        [(ngModel)]="servicioServices.seleccionarPersonal.nombrePersonal"
      />
  
  <input
        type="text"
        class="form-control"
        id=""
        placeholder="Apellido Paterno"
        name="apPaternoPersonal"
        #apPaternoPersonal="ngModel"
        [(ngModel)]="servicioServices.seleccionarPersonal.apPaternoPersonal"
      />
  
      <input
        type="text"
        class="form-control"
        id=""
        placeholder="Apellido Materno"
        name="apMaternoPersonal"
        #apMaternoPersonal="ngModel"
        [(ngModel)]="servicioServices.seleccionarPersonal.apMaternoPersonal"
      />
  
      <input
        type="text"
        class="form-control"
        id=""
        placeholder="Cedula de identidad"
        name="ciPersonal"
        #ciPersonal="ngModel"
        [(ngModel)]="servicioServices.seleccionarPersonal.ciPersonal"
      />
  
      Sexo:
      <select class="form-control" name="" id="" 
      name="sexoPersonal"
      #sexoPersonal="ngModel"
      [(ngModel)]="servicioServices.seleccionarPersonal.sexoPersonal">
          <option value="">Elegir</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
      </select>
  
      <input
        type="text"
        class="form-control"
        id=""
        placeholder="Celular"
        name="celularPersonal"
        #celularPersonal="ngModel"
        [(ngModel)]="servicioServices.seleccionarPersonal.celularPersonal"
      />
  
      <input
        type="date"
        class="form-control"
        id=""
        placeholder="Fecha de nacimiento"
        name="fechaNacimientoPersonal"
        #fechaNacimientoPersonal="ngModel"
        [(ngModel)]="servicioServices.seleccionarPersonal.fechaNacimientoPersonal"
      />
  
      <input
        type="text"
        class="form-control"
        id=""
        placeholder="Direccion"
        name="direccionPersonal"
        #direccionPersonal="ngModel"
        [(ngModel)]="servicioServices.seleccionarPersonal.direccionPersonal"
      />
  
      <input class="btn btn-success m-2" type="submit" value="Guardar" />
      <input class="btn btn-secondary" type="button" value="Limpiar" (click)="resetForm(personalTransito)"/>
      
    </form>
  </div>
  