<div class="mt-3 ml-auto">
    <form
      class="form-inline"
      [formGroup]="personalTransito"
      (ngSubmit)="addPersonalTransito(personalTransito)"
    >
      <input
        type="hidden"
        name="$key"
        formControlName=$key
        [(ngModel)]="servicioServices.seleccionarPersonal.$key"
      />
  
      <div>
        <mat-form-field>
      <input
      matInput
        #tamNombre maxlength="50"
        placeholder="Nombre"
        name="nombrePersonal"
        formControlName="nombrePersonal"
        [(ngModel)]="servicioServices.seleccionarPersonal.nombrePersonal"
      />
      <mat-hint align="end"> {{tamNombre.value.length}}/50 </mat-hint>
    </mat-form-field>
    </div>
  
    <div>
      <mat-form-field>
  <input
  matInput
  #tamApPaterno maxlength="50"
        placeholder="Apellido Paterno"
        name="apPaternoPersonal"
        formControlName="apPaternoPersonal"
        [(ngModel)]="servicioServices.seleccionarPersonal.apPaternoPersonal"
      />
      <mat-hint align="end">{{tamApPaterno.value.length}}/50</mat-hint>
    </mat-form-field>
    </div>


    <div>
      <mat-form-field>
      <input
      matInput
        #tamApMaterno maxlength="50"
        placeholder="Apellido Materno"
        name="apMaternoPersonal"
        formControlName="apMaternoPersonal"
        [(ngModel)]="servicioServices.seleccionarPersonal.apMaternoPersonal"
      />
      <mat-hint align="end">{{tamApMaterno.value.length}}/50</mat-hint>
    </mat-form-field>
    </div>

  
    <div>
      <mat-form-field>
      <input
        matInput
        #tamCi maxlength="10"
        placeholder="Cedula de identidad"
        name="ciPersonal"
        formControlName="ciPersonal"
        [(ngModel)]="servicioServices.seleccionarPersonal.ciPersonal"
      />
      <mat-hint align="end">{{tamCi.value.length}}/10</mat-hint>
    </mat-form-field>
    </div>
  
      <!-- Sexo:
      <select class="form-control" name="" id="" 
      name="sexoPersonal"
      #sexoPersonal="ngModel"
      [(ngModel)]="servicioServices.seleccionarPersonal.sexoPersonal">
          <option value="">Elegir</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
      </select> -->


<div>
      <mat-form-field>
          <mat-label>Sexo</mat-label>
          
          <mat-select
      name="sexoPersonal"
      formControlName="sexoPersonal"
      [(ngModel)]="servicioServices.seleccionarPersonal.sexoPersonal" >
            <mat-option value="Masculino">
              Masculino
            </mat-option>

            <mat-option value="Femenino">
                Femenino
              </mat-option>

          </mat-select>

        </mat-form-field>
      </div>
  
      <div>
        
        <mat-form-field>
      <input
        matInput
        #tamCelular maxlength="8"
        placeholder="Celular"
        name="celularPersonal"
        formControlName="celularPersonal"
        [(ngModel)]="servicioServices.seleccionarPersonal.celularPersonal"
      />
      <mat-hint align="end">{{tamCelular.value.length}}/8</mat-hint>
    </mat-form-field>
    </div>
  
    <mat-form-field>
      <input
      matInput
        type="date"
        placeholder="Fecha de nacimiento"
        name="fechaNacimientoPersonal"
        formControlName="fechaNacimientoPersonal"
        [(ngModel)]="servicioServices.seleccionarPersonal.fechaNacimientoPersonal"
      />
    </mat-form-field>


      <!-- <p>
          <mat-form-field>
            <input
            name="fechaNacimientoPersonal"
            formControlName="fechaNacimientoPersonal"
            [(ngModel)]="servicioServices.seleccionarPersonal.fechaNacimientoPersonal"
            matInput
            [matDatepicker]="dp3"
            placeholder="Fecha de nacimiento"
            >
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3></mat-datepicker>
          </mat-form-field>
        </!--> 
        

        <!-- <mat-form-field>
            <input 
            name="fechaNacimientoPersonal"
            formControlName="fechaNacimientoPersonal"
            [(ngModel)]="servicioServices.seleccionarPersonal.fechaNacimientoPersonal"
            matInput
            [matDatepicker]="dp"
            placeholder="Different locale">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field> -->
          <!-- <button mat-button (click)="french()">Dynamically switch to French</button> -->


  
      <div>
        <mat-form-field>
      <input
        matInput
        #tamDireccion maxlength="200"
        placeholder="Direccion"
        name="direccionPersonal"
        formControlName="direccionPersonal"
        [(ngModel)]="servicioServices.seleccionarPersonal.direccionPersonal"
      />
      <mat-hint align="end">{{tamDireccion.value.length}}/200</mat-hint>
    </mat-form-field>
    </div>
  
    <div class="d-flex flex-row bd-highlight">
      <input class="btn btn-success p-2 bd-highlight m-1" type="submit" value="Guardar" />
      <input class="btn btn-secondary p-2 bd-highlight m-1" type="button" value="Limpiar" (click)="resetForm(personalTransito)"/>
    </div>
      
    </form>
  </div>
  