<form class="form-group" [formGroup]="datosVehiculo" (ngSubmit)="addDatosVehiculo(datosVehiculo)">
  
  <div class="card">
    
    <h3>REGISTRO DE DATOS</h3>

    <p align="left p-1">
        <font size=2><strong>(*) Datos obligatorios </strong></font>
      </p>

      <div class="row m-1">

      <div class="col">
        <div class="card">

          <div class="text-center m-3">
            <h5>DATOS INFRACTOR</h5>
          </div>

          <div class="row m-auto">
            <mat-form-field class="m-3">
              <input matInput #nombre id="nombreInfractor" name="nombreInfractor" maxlength="11" minlength="3" placeholder="Nombre"
                formControlName="nombreInfractor"
                [(ngModel)]="servicioServices.seleccionarDatosVehiculo.nombreInfractor" />
              <mat-hint align="">min: 3</mat-hint>
              <mat-hint align="end">{{nombre.value.length}}/11</mat-hint>
            </mat-form-field>
            <div class="text-danger" *ngIf="nombreInfractor.invalid && (nombreInfractor.dirty || nombreInfractor.touched)">
                <div class="" role="" *ngIf="nombreInfractor.errors.required">
                  Campo nombre es obligatorio
                </div>
              </div>

            <mat-form-field class="m-3">
              <input matInput #apPaterno maxlength="11" minlength="3" placeholder="Apellido Paterno"
                name="apPaternoInfractor" formControlName="apPaternoInfractor"
                [(ngModel)]="servicioServices.seleccionarDatosVehiculo.apPaternoInfractor" />
                <mat-hint align="">min: 3</mat-hint>
              <mat-hint align="end">{{apPaterno.value.length}}/11</mat-hint>
            </mat-form-field>
            <div class="text-danger" *ngIf="apPaternoInfractor.invalid && (apPaternoInfractor.dirty || apPaternoInfractor.touched)">
                <div class="" role="" *ngIf="apPaternoInfractor.errors.required">
                  Campo Apellido Paterno es obligatorio
                </div>
              </div>

            <mat-form-field class="m-3">
              <input matInput #apMaterno maxlength="11" minlength="3" placeholder="Apellido Materno"
                name="apMaternoInfractor" formControlName="apMaternoInfractor"
                [(ngModel)]="servicioServices.seleccionarDatosVehiculo.apMaternoInfractor" />
                <mat-hint align="">min: 3</mat-hint>
              <mat-hint align="end">{{apMaterno.value.length}}/11</mat-hint>
            </mat-form-field>
            <div class="text-danger" *ngIf="apMaternoInfractor.invalid && (apMaternoInfractor.dirty || apMaternoInfractor.touched)">
                <div class="" role="" *ngIf="apMaternoInfractor.errors.required">
                  Campo Apellido Materno es obligatorio
                </div>
              </div>
          
            <mat-form-field class="m-3">
              <input matInput #licencia maxlength="11" minlength="7" placeholder="N° de Licencia de conducir" name="numLicencia"
                formControlName="numLicencia" [(ngModel)]="servicioServices.seleccionarDatosVehiculo.numLicencia" />
                <mat-hint align="">min: 7</mat-hint>
              <mat-hint align="end">{{licencia.value.length}}/11</mat-hint>
            </mat-form-field>
            <div class="text-danger" *ngIf="numLicencia.invalid && (numLicencia.dirty || numLicencia.touched)">
                <div class="" role="" *ngIf="numLicencia.errors.required">
                  Campo Licencia de conducir es obligatorio
                </div>
              </div>

            <mat-form-field class="m-3">
              <mat-label>Sexo *</mat-label>
              <mat-select formControlName="sexoInfractor"
                [(ngModel)]="servicioServices.seleccionarDatosVehiculo.sexoInfractor">
                <mat-option value="Masculino">
                  Masculino
                </mat-option>
                <mat-option value="Femenino">
                  Femenino
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="sexoInfractor.invalid && (sexoInfractor.dirty || sexoInfractor.touched)">
                <div class="" role="" *ngIf="sexoInfractor.errors.required">
                  Sexo es obligatorio
                </div>
              </div>

            <mat-form-field class="m-3">
              <input matInput type="date" placeholder="Fecha de nacimiento" name="fechaNacimientoInfractor"
                formControlName="fechaNacimientoInfractor"
                [(ngModel)]="servicioServices.seleccionarDatosVehiculo.fechaNacimientoInfractor" />
            </mat-form-field>
            <div class="text-danger" *ngIf="fechaNacimientoInfractor.invalid && (fechaNacimientoInfractor.dirty || fechaNacimientoInfractor.touched)">
                <div class="" role="" *ngIf="fechaNacimientoInfractor.errors.required">
                  Fecha de nacimiento es obligatorio
                </div>
              </div>
          

            <mat-form-field class="m-3">
              <input matInput #celularInfractor maxlength="11" minlength="8" placeholder="N° de celular" name="celularInfractor"
                formControlName="celularInfractor"
                [(ngModel)]="servicioServices.seleccionarDatosVehiculo.celularInfractor" />
                <mat-hint align="">min: 8</mat-hint>
              <mat-hint align="end">{{celularInfractor.value.length}}/11</mat-hint>
            </mat-form-field>

            <mat-form-field class="m-3">
              <input matInput #direccionInfractor maxlength="50" minlength="3" placeholder="Dirección" name="direccionInfractor"
                formControlName="direccionInfractor"
                [(ngModel)]="servicioServices.seleccionarDatosVehiculo.direccionInfractor" />
                <mat-hint align="">min: 3</mat-hint>
              <mat-hint align="end">{{direccionInfractor.value.length}}/50</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card p-3">

          <!-- <input type="hidden" name="" formControlName=$key /> -->
          <h5>Datos Vehículo</h5>
          <mat-form-field>
            <input matInput #tamCi maxlength="11" placeholder="Placa *" name="placa" formControlName="placa" [(ngModel)]="servicioServices.seleccionarDatosVehiculo.placa" />
            <mat-hint align="">
              <p>Ejemplo: 1234ABCD </p>
            </mat-hint>
            <mat-hint align="end">{{tamCi.value.length}}/11</mat-hint>
          </mat-form-field>
          <div class="text-danger" *ngIf="placa.invalid && (placa.dirty || placa.touched)">
              <div class="" role="" *ngIf="placa.errors.required">
                Campo placa es obligatorio
              </div>
            </div>

          <mat-form-field>
            <mat-label>Tipo *</mat-label>
            <mat-select id="tipo" name="tipo" formControlName="tipo" [(ngModel)]="servicioServices.seleccionarDatosVehiculo.tipoVehiculo">
              <mat-option [value]="tipoVehiculo.nombreTipoVehiculo" *ngFor="let tipoVehiculo of tipoVehiculos">
                {{tipoVehiculo.nombreTipoVehiculo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)">
              <div class="" role="" *ngIf="tipo.errors.required">
                Tipo es obligatorio
              </div>
            </div>


          <mat-form-field>
            <mat-label>Marca *</mat-label>
            <mat-select id="marca" name="marca" formControlName="marca" [(ngModel)]="servicioServices.seleccionarDatosVehiculo.marcaVehiculo">

              <mat-option [value]="marcaVehiculo.nombreMarcaVehiculos" *ngFor="let marcaVehiculo of marcaVehiculos">
                {{marcaVehiculo.nombreMarcaVehiculos}}
              </mat-option>

            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="marca.invalid && (marca.dirty || marca.touched)">
              <div class="" role="" *ngIf="marca.errors.required">
                Marca es obligatorio
              </div>
            </div>

          <mat-form-field>
            <mat-label>Color *</mat-label>
            <mat-select formControlName="color" id="color" name="color" [(ngModel)]="servicioServices.seleccionarDatosVehiculo.colorVehiculo">

              <mat-option [value]="colorVehiculo.nombreColorVehiculo" *ngFor="let colorVehiculo of colorVehiculos">
                {{colorVehiculo.nombreColorVehiculo}}
              </mat-option>

            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="color.invalid && (color.dirty || color.touched)">
              <div class="" role="" *ngIf="color.errors.required">
                Color es obligatorio
              </div>
            </div>

            <mat-form-field>
              <mat-label>Tipo de Servicio *</mat-label>
              <mat-select formControlName="tipoServicio" id="tipoServicio" name="tipoServicio" [(ngModel)]="servicioServices.seleccionarDatosVehiculo.tipoServicio">
  
                <mat-option [value]="serviciosVehicular.nombreTipoServicio" *ngFor="let serviciosVehicular of serviciosVehiculares">
                  {{serviciosVehicular.nombreTipoServicio}}
                </mat-option>
  
              </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="color.invalid && (color.dirty || color.touched)">
                <div class="" role="" *ngIf="color.errors.required">
                  Tipo de servicio es obligatorio
                </div>
              </div>

        </div>
      </div>
    </div>
    
    <div class="">
      <input [disabled]="datosVehiculo.invalid" class="btn btn-success m-1" type="submit" value="Guardar" />
      <input class="btn btn-secondary m-1" type="button" value="Limpiar" (click)="resetForm(datosVehiculo)" />
    </div>
    </div>


</form>
