<div class="card container mt-3">
          <h4 class="text-center">ADMINISTRADOR</h4>
      
        <div class="card-deck">
          <!-- GESTION DE CARGO -->
          <div class="card">
            <div class="card-body text-center">
              <button
                href="#listCargo"
                data-toggle="modal"
                class="btn btn-primary btn-lg"
                style="width:220px; height:95px"
              >
                Gestionar Cargos de Personal
              </button>
              <!-- VENTANA MODAL PARA LISTAR SERVICIOS DE VEHICULOS -->
              <app-list-cargo></app-list-cargo>
            </div>
          </div>
      
          <!-- GESTION DE INFRACCIONES -->
          <div class="card">
            <div class="card-body text-center">
              <button
                href="#listCodigoTransito"
                data-toggle="modal"
                class="btn btn-primary btn-lg"
                style="width:220px; height:95px"
              >
                Gestión de Códigos de Infracciones
              </button>
              <!-- VENTANA MODAL PARA LISTAR CODIGO TRANSITO -->
              <app-list-codigo-transito></app-list-codigo-transito>
            </div>
          </div>
      
          <!-- GESTION DE PERSONAL -->
          <div class="card">
            <div class="card-body text-center">
              <button
                href="#listPersonal"
                data-toggle="modal"
                class="btn btn-primary btn-lg"
                style="width:220px; height:95px"
              >
                Gestión de Personal
              </button>
              <!-- VENTANA MODAL PARA LISTAR PERSONAL -->
              <app-list-personal-transito></app-list-personal-transito>
            </div>
          </div>
        </div>
      
        <div class="card-deck">
          <!-- GESTTION DE SERVICIO DE VEHICULOS-->
          <div class="card">
            <div class="card-body text-center">
              <button
                href="#listUsuario"
                data-toggle="modal"
                class="btn btn-secondary btn-lg"
                style="width:220px; height:95px"
              >
                Gestionar de usuarios
              </button>
              <!-- VENTANA MODAL PARA LISTAR SERVICIOS DE VEHICULOS -->
              <app-list-gestion-usuario></app-list-gestion-usuario>
            </div>
          </div>
      
          <!-- GESTTION DE SERVICIO DE VEHICULOS-->
          <div class="card">
            <div class="card-body text-center">
              <button
                href="#listServices"
                data-toggle="modal"
                class="btn btn-primary btn-lg"
                style="width:220px; height:95px"
              >
                Gestión de Servicios de Vehículos
              </button>
              <!-- VENTANA MODAL PARA LISTAR SERVICIOS DE VEHICULOS -->
              <app-lista-servicios></app-lista-servicios>
            </div>
          </div>
      
          <!-- GESTION DE VEHÍCULOS-->
          <div class="card">
            <div class="card-body text-center">
              <button
                href="#gestionVehicular"
                data-toggle="modal"
                class="btn btn-primary mr-2 btn-lg"
                style="width:220px; height:95px"
              >
                Gestionar Vehículos
              </button>
      
              <!-- VENTANA MODAL PARA GESTION VEHICULAR -->
              <app-gestion-vehiculos></app-gestion-vehiculos>
            </div>
          </div>
        </div>

        





        <h4 class="text-center"> INFORMES </h4>
        <div class="card-deck">
          <!-- INFORME 1 -->
          <div class="card">
            <div class="card-body text-center">
              <button
                data-toggle="modal"
                class="btn btn-secondary btn-lg"
                style="width:220px; height:95px"
              >
                Informe 1
              </button>
            </div>
          </div>
      
          <!-- INFORME 2-->
          <div class="card">
            <div class="card-body text-center">
              <button
                data-toggle="modal"
                class="btn btn-secondary btn-lg"
                style="width:220px; height:95px"
              >
                Informe 2
              </button>
            </div>
          </div>
      
          <!-- INFORME 3 -->
          <div class="card">
            <div class="card-body text-center">
              <button
                data-toggle="modal"
                class="btn btn-secondary mr-2 btn-lg"
                style="width:220px; height:95px"
              >
                Informe 3
              </button>
      
              
              
            </div>
          </div>
        </div>

      </div>
      
