<table class="table">
  <thead>
    <tr>
      <th>Marca de Vehículos</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let marcaVehiculos of listaMarcaVehiculos">
      <td scope="row">{{ marcaVehiculos.nombreMarcaVehiculos }}</td>
      <td>
        <a class="btn btn-secondary text-white" (click)="onEdit(marcaVehiculos)">
          <i class="far fa-edit"></i>
        </a>
        <a class="btn btn-danger text-white" (click)="onDelete(marcaVehiculos.$key)">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<simple-notifications></simple-notifications>
