<div class="mt-3 ml-auto">
    <form
      [formGroup]="servicioVehicular"
      (ngSubmit)="agregarServicioVehiculo(servicioVehicular)"
    >
      <input
        type="hidden"
        name="$key"
        formControlName="$key"
        [(ngModel)]="serviciosService.seleccionarServicioVehicular.$key"
                     
      />

      
          <mat-form-field>
        <input
        matInput
          #tamNombreServicio maxlength="50"
          placeholder="Tipo de servicio del vehículo"
          name="nombreTipoServicio"
          formControlName="nombreTipoServicio"
          [(ngModel)]="serviciosService.seleccionarServicioVehicular.nombreTipoServicio"
        />
        <mat-hint align="end"> {{tamNombreServicio.value.length}}/50 </mat-hint>
      </mat-form-field>
      

      <!-- <input
        type="text"
        class="form-control"
        id=""
        placeholder="Servicio de vehiculo"
        name="nombreTipoServicio"
        #nombre="ngModel"
        [(ngModel)]="
          serviciosService.seleccionarServicioVehicular.nombreTipoServicio
        "
      /> -->
  
      <!-- <input class="btn btn-success m-2" type="submit" value="Guardar" />
      <input class="btn btn-secondary" type="button" value="Limpiar" (click)="resetForm(servicioVehicular)"/> -->
      <div>
      <input [disabled]="servicioVehicular.invalid" class="btn btn-primary m-1" type="submit" value="Guardar">
      <input class="btn btn-secondary" type="button" value="Limpiar" (click)="resetForm(servicioVehicular)"/>
    </div>
    
        
    </form>
  </div>