<table class="table">
  <thead>
    <tr>
      <th>Color de Vehículos</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let colorVehiculos of listaColorVehiculos">
      <td scope="row">{{ colorVehiculos.nombreColorVehiculo }}</td>
      <td>
        <a class="btn btn-secondary text-white" (click)="onEdit(colorVehiculos)">
          <i class="far fa-edit"></i>
        </a>
        <a class="btn btn-danger text-white" (click)="onDelete(colorVehiculos.$key)">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
  </tbody>

</table>
<simple-notifications></simple-notifications>
