<div class="modal fade" id="listUsuario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">GESTIONAR USUARIO</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
      </div>

      <div class="modal-body">

        AGREGAR USUARIO
        <form action="" class="form-group w-100"
        #usuarioTransito="ngForm"
        (ngSubmit)="busquedaPersonal(usuarioTransito)">
          
        <input type="text" name="" id="" placeholder="Introduzca numero de carnet de identidad">
          
          <input class="btn btn-success m-2" type="submit" value="Guardar" />
        </form>

      </div>
    </div>
  </div>
</div>
