<div class="mt-3 ml-auto">
  
  <form class="form-inline" [formGroup]="datosBoleta" (ngSubmit)="addBoleta(datosBoleta)">
    <input type="hidden" name="" formControlName=$key  />

    <div class="text-center p-3">
      <div class="card p-3">
      <h5>INFRACTOR</h5>

      <mat-form-field>
        <input
        matInput
        #numLicencia
        id="numLicencia"
        maxlength="10"
        placeholder="N° Licencia"
        name="numLicencia"
        formControlName="numLicencia"  />
        <mat-hint align="end">  {{numLicencia.value.length}}/10 </mat-hint>
      </mat-form-field>
      
      <div class="">
        <input type="button" class="btn btn-primary m-3"  (click)="comprobarInfractor()" value="Buscar Infractor">
          

        <button id=""
        href="#listInfractor"
        data-toggle="modal"
        class="btn btn-primary">
        Nuevo Infractor</button>
        <app-list-infractor></app-list-infractor>
      </div>

      
        <p>Datos Infractor</p>
      <p>Nombre: 
        <strong
        #nombreInfractor
        id="nombreInfractor"
        name="nombreInfractor"
        >
      </strong>
    </p>
      <p>Apellido Paterno: <strong id="apPaternoInfractor"></strong></p>
      <p>Apellido Materno: <strong id="apMaternoInfractor"></strong></p>
      <p>N° Licencia: <strong id="licenciaInfractor"></strong></p>
      
      <!-- valor oculto para obtener valores -->
      <input type="hidden" class="m-3" name="licenciaInfractor2" value="{{valorLicencia}}" id="licenciaInfractor2" >
    </div>
    </div>

    


    <!-- DATOS VEHICULO -->
    <div class="text-center p-3">
      <div class="card p-3">
        <h5>VEHICULO</h5>
        <mat-form-field>
          <input matInput id="placa" maxlength="50" placeholder="Placa" name="placa"
            formControlName="placa"  />
        </mat-form-field>
        
        <div class="">
          <button class="btn btn-primary m-3"  (click)="comprobarVehiculo()">Buscar Automovil</button>
  
          <button id=""
          href="#listDatosVehiculo"
          data-toggle="modal"
          class="btn btn-primary">
          Nuevo Automovil</button>
          <app-lit-datos-vehiculo></app-lit-datos-vehiculo>
        </div>
  
        
          <p>Datos Vehículo</p>
        <p>Tipo: <strong id="tipoVehiculo"></strong></p>
        <p>Marca: <strong id="marcaVehiculo"></strong></p>
        <p>Color: <strong id="colorVehiculo"></strong></p>
        
        <!-- valor oculto para obtener valores -->
        <input type="hidden" class="m-3" name="placaOculto" value="{{valorVehiculo}}" id="placaOculto" >
      </div>
      </div>



      <div class="text-center p-3">
        <div class="card p-3">
      <h5>UBICACION</h5>

      <div class="input-group mb-3">
          <input 
          type="text" 
          class="form-control" 
          value="{{lat}},{{lng}}"
          disabled>
        </div>
        <!-- placeholder="Latitud, Longitud" -->
        <!-- id="latlng" -->
        <!-- formControlName="latlng" -->

          <div class="text-center">
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18" [mapTypeControl]="mapControls">
  
                <agm-marker [latitude]="lat" [longitude]="lng">
                </agm-marker>
  
              </agm-map>
            </div>
          <!-- <button
          id="new-board-btn"
                  href="#mapa"
                  data-toggle="modal"
          >Localizar</button> -->
          <app-add-mapa></app-add-mapa>
      </div>
    </div>




    <div class="text-center p-3">
      <div class="card p-3">
      <h5>INFRACCION</h5>
      <!-- <mat-form-field>
          <input 
          matInput 
          #ciInfractor 
          id="art" 
          maxlength="50" 
          placeholder="Artículo" 
          name="art"
          formControlName="art"/>
        </mat-form-field>
        
        <mat-form-field>
            <input 
            matInput 
            #ciInfractor 
            id="num" 
            maxlength="50" 
            placeholder="Num" 
            name="num"
            formControlName="num"  />
          </mat-form-field> -->

          <textarea placeholder="Descripcion" disabled></textarea>

          <button class="btn btn-primary">Buscar Infracción</button>
        </div>
    </div>

    <div class="text-center p-3">
      <div class="card p-3">
        <h5>POLICIA</h5>
          <mat-form-field>
              <input 
              matInput 
              #ciPolicia 
              id="ciPolicia" 
              maxlength="50" 
              placeholder="Cedula Identidad" 
              name="ciPolicia"
              formControlName="ciPolicia"  />
            </mat-form-field>

            <button class="btn btn-primary m-3"  (click)="comprobarPolicia()">Buscar Policia</button>
            
            <!-- <button id=""
            href="#listPersonal"
            data-toggle="modal"
            class="btn btn-primary">
      Nuevo Infractor</button>
      <app-list-personal-transito></app-list-personal-transito> -->

            <p>Datos Policia</p>
        <p>Grado: <strong id="grado"></strong></p>
        <p>Nombre: <strong id="nombrePersonal"></strong></p>
        <p>Apellido Paterno: <strong id="apPaternoPersonal"></strong></p>
        <p>Apellido Materno: <strong id="apMaternoPersonal"></strong></p>
        <p>Cedula Identidad: <strong id="cedulaIdentidad"></strong></p>

        <input type="hidden" class="m-3" id="cedulaIdentidad" name="cedulaIdentidad" value="{{valorPolicia}}" id="placaOculto" >
      </div>
    </div>
      
      
      <div>
        <input class="btn btn-success p-2 m-1" type="submit" value="Guardar" />
        <input class="btn btn-secondary p-2 m-1" type="button" value="Limpiar"
          (click)="resetForm(datosBoleta)" />
      </div>

  </form>

  <input class="btn btn-primary" type="button" value="Generar" (click)="generarPDF()">
</div>

