  <div class="m-3">

    <form class="" [formGroup]="datosBoleta" (ngSubmit)="addBoleta(datosBoleta)">
      <div class="card">
        <input type="hidden" name="" formControlName=$key />

        <div class="m-3 row">

          <div class="text-center col">

            <div class="card">

              <h4>DATOS POLICIA</h4>
              <div class="text-left m-3">
                <p>Grado: <strong id="grado"></strong></p>
                <p>Nombre: <strong id="nombrePersonal"></strong></p>
                <p>Apellido Paterno: <strong id="apPaternoPersonal"></strong></p>
                <p>Apellido Materno: <strong id="apMaternoPersonal"></strong></p>
                <p>Cedula Identidad: <strong id="cedulaIdentidad"></strong></p>
              </div>

              <input type="hidden" id="nombreInfractor" name="nombreInfractor" formControlName="nombreInfractor" [(ngModel)]="servicioServices.seleccionarInfraccion.nombreInfractor">
              <input type="hidden" id="apPaternoInfractonumLicenciar" name="apPaternoInfractor" formControlName="apPaternoInfractor" [(ngModel)]="servicioServices.seleccionarInfraccion.apPaternoInfractor">
              <input type="hidden" id="apMaternoInfractor" name="apMaternoInfractor" formControlName="apMaternoInfractor" [(ngModel)]="servicioServices.seleccionarInfraccion.apMaternoInfractor">
              <input type="hidden" id="numLicenciaInfractor" name="numLicenciaInfractor" formControlName="numLicenciaInfractor" [(ngModel)]="servicioServices.seleccionarInfraccion.numLicenciaInfractor">
            </div>

            <div class="card p-3 m-3">
              <h4>UBICACION</h4>

              <input type="hidden" name="lat" id="lat" formControlName="lat"
                [(ngModel)]="servicioServices.seleccionarInfraccion.lat">
              <input type="hidden" name="lng" id="lng" formControlName="lng"
                [(ngModel)]="servicioServices.seleccionarInfraccion.lng">
              <div class="input-group m-3">
                <div class="text-left">
                  <p>Latitud: <strong>{{lat}}</strong></p>
                  <p>Longitud: <strong>{{lng}}</strong></p>
                </div>
                <!-- <input type="text" class="form-control" 
                formControlName="latlong" name="latlong" id="latlong" value="{{lat}},{{lng}}" disabled> -->
              </div>
              <div layout-align="center center">

                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18" [mapTypeControl]="mapControls">

                  <agm-marker [latitude]="lat" [longitude]="lng">
                  </agm-marker>

                </agm-map>
              </div>
              <app-add-mapa></app-add-mapa>
            </div>

          </div>

          <div class="text-center m-3 col">
            <div class="card p-3">
              <h4>INFRACTOR</h4>
              <mat-form-field>
                <input matInput #placaVehiculo id="placa" maxlength="10" placeholder="Placa del Vehiculo" name="placa"
                  formControlName="placa" [(ngModel)]="servicioServices.seleccionarInfraccion.placa" />
                <mat-hint align="">
                  <p>Ejemplo: 1234ABCD</p>
                </mat-hint>
                <mat-hint align="end"> {{placaVehiculo.value.length}}/10 </mat-hint>
              </mat-form-field>

              <div class="">
                <input type="button" class="btn btn-primary m-3" (click)="comprobarInfractor()"
                  value="Validar Infractor">
                <input type="button" data-toggle="modal" class="btn btn-primary" value="Nuevo infractor"
                  href="#listDatosVehiculo">
                <app-lit-datos-vehiculo></app-lit-datos-vehiculo>
              </div>
              <div>
                <h5>DATOS DEL INFRACTOR</h5>
                <div class="text-left">
                  <p>Nombre: <strong id="nombre"></strong></p>
                  <p>Apellido Paterno: <strong id="apPaterno"></strong></p>
                  <p>Apellido Materno: <strong id="apMaterno"></strong></p>
                  <p>N° Licencia: <strong id="numLicencia"></strong></p>
                </div>
              </div>

              <div>
                <h5>DATOS DEL VEHICULO</h5>
                <div class="text-left">
                  <p>Tipo: <strong id="tipoVehiculo"></strong></p>
                  <p>Marca: <strong id="marcaVehiculo"></strong></p>
                  <p>Color: <strong id="colorVehiculo"></strong></p>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div>
          <!-- <div class="text-center col">
            <div class="card p-3">
              <h4>UBICACION</h4>
              <input type="hidden" name="lat" id="lat" formControlName="lat"
                [(ngModel)]="servicioServices.seleccionarInfraccion.lat">
              <input type="hidden" name="lng" id="lng" formControlName="lng"
                [(ngModel)]="servicioServices.seleccionarInfraccion.lng">
              <div class="input-group m-3">
                <div class="text-left">
                  <p>Latitud: <strong>{{lat}}</strong></p>
                  <p>Longitud: <strong>{{lng}}</strong></p>
                </div>
              </div>
              <div layout-align="center center">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18" [mapTypeControl]="mapControls">
                  <agm-marker [latitude]="lat" [longitude]="lng">
                  </agm-marker>
                </agm-map>
              </div>
              <app-add-mapa></app-add-mapa>
            </div>
          </div> -->
          <div class="m-3 row text-center">
            <div class="card p-3 col">
              <h4>INFRACCION</h4>
              <div>
                <mat-form-field class="m-2">
                  <input matInput #ciInfractor id="art" maxlength="50" placeholder="Artículo" name="art"
                    formControlName="art" />
                </mat-form-field>

                <mat-form-field>
                  <input matInput #ciInfractor id="num" maxlength="50" placeholder="Num" name="num"
                    formControlName="num" />
                </mat-form-field>

                <div>
                  <input type="button" value="Validar" class="btn btn-primary m-2" (click)="validarCodigoInfraccion()">

                  <input type="button" value="Buscar" href="#listCodigo" data-toggle="modal" class="btn btn-secondary">
                  <app-codigo-infracciones></app-codigo-infracciones>

                </div>
              </div>

              <textarea rows="7" cols="45" placeholder="Descripcion" disabled></textarea>
            </div>

            
            <div class="col">
              <div class="card">
                <h4>FOTOGRAFIAS</h4>
                <br>
                
                <input type="file"  (change)="uploadFile($event)">
                <div>{{updaloadPercent | async}}</div>
                <input type="hidden" formControlName="foto1" id="foto1" name="foto1" [(ngModel)]="servicioServices.seleccionarInfraccion.foto1">

                <!-- <webcam [height]="400" [width]="300" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                  *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                  [imageQuality]="1" (cametaSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)">
                </webcam>
                <br />

                <button class="actionBtn" (click)="toggleWebcam();">Encender/Apagar cámara</button>
                <button class="btn btn-primary" (click)="triggerSnapshot();">Tomar Foto</button> -->
                <!-- <br />
                <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next
                  Webcam</button> -->
                <!-- <input id="cameraSwitchCheckbox" type="checkbox"> -->
                 <!-- [(ngModel)]="allowCameraSwitch"> -->
                <!-- <label for="cameraSwitchCheckbox">Allow Camera Switch</label>
                <br />
                DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
                <button (click)="showNextWebcam(deviceId);">Activate</button> -->

              </div>
            </div>

            <!-- <div class="snapshot" *ngIf="webcamImage">
              <img [src]="webcamImage.imageAsDataUrl" />
            </div>

            <h4 *ngIf="errors.length > 0">Messages:</h4>
            <ul *ngFor="let error of errors">
              <li>{{error | json}}</li>
            </ul> -->

          </div>
        </div>


        <div class="text-right">
          <input [disabled]="datosBoleta.invalid" class="btn btn-success m-1" type="submit" value="Guardar" />
          <input class="btn btn-secondary m-1" type="button" value="Limpiar" (click)="resetForm(datosBoleta)" />
          <input class="btn btn-primary" type="button" value="Generar" (click)="generarPDF()">
        </div>
      </div>
    </form>
  </div>
