<!-- <div id="content" #content> -->
<div class="modal fade" id="registrosPorPolicia">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">INFRACCIONES POR POLICIA</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
      </div>

      <div class="modal-body">
        <div>
          <mat-form-field>
            <mat-label>Personal</mat-label>
            <mat-select
              id="location"
              [(ngModel)]="locations"
              name="location"
              #location="ngModel"
            >
              <mat-option
                id="ci"
                *ngFor="let li of listaBoleta"
                [value]="li.ciUsuario"
              >
                {{ li.ciUsuario }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <input
            type="button"
            (click)="buscar(location)"
            value="Buscar"
            class="btn btn-success"
          />

          <div class="mat-elevation-z8">
            <div id="tabla" *ngIf="expression">
              <table class="egt">
                <thead>
                  <tr>
                    <th><span>Fecha Infraccion</span></th>
                    <!-- <th><span>Grado</span></th>
                    <th><span>Personal</span></th>
                    <th><span>Apellido</span></th>
                    <th><span>Descripcion del hecho</span></th> -->
                  </tr>
                </thead>
                <tbody *ngFor="let item of datos">
                    <td>{{item.fechaInfraccion}}</td> 
                    <!-- <td>{{item.grado}}</td>
                    <td>{{item.nombrePersonal}}</td>
                    <td>{{item.apPaternoPersonal}}</td>
                    <td>{{item.descripcion}}</td> -->

                  <!-- </tr> -->
                  <!-- <tr>
                    <td>
                      {{ fechas }}
                    </td>
                    <td>
                        {{ grado }}
                      </td>
                      <td>
                          {{ nombrePolicias }}
                        </td>
                        <td>
                            {{ apPaternoPolicia }}
                          </td>
                          <td>
                              {{ descripcionIncidente }}
                            </td>

                  </tr> -->
                </tbody>
              </table>

              <!--     <table mat-table [dataSource]="dataSource">
          
                                 
                                <ng-container matColumnDef="nombrePersonal">
                                      <th mat-header-cell *matHeaderCellDef class="text-center"> Policia </th>
                                      <td mat-cell *matCellDef="let element"> {{element.nombrePolicia}} </td>
                                    </ng-container> -->

              <!-- <ng-container matColumnDef="fechaInfraccion">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> Fecha </th>
                                        <td mat-cell *matCellDef="let element"> {{element.fechaInfraccion}} </td>
                                      </ng-container>
              
                                    <ng-container matColumnDef="nombreInfractor">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre Infractor </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nombreInfractor}} </td>
                                      </ng-container>
          
                                      <ng-container matColumnDef="nombrePersonal">
                                              <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre Personal </th>
                                              <td mat-cell *matCellDef="let element"> {{element.nombrePersonal}} </td>
                                            </ng-container> -->

              <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                  </table>
                              </div>
                                
                                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
            </div>
            <div>
              <button class="btn btn-success" (click)="convertHtmlPdf()">
                Generar
              </button>

              <!-- <button (click)="convertHtmlPdf()">Imprimir Tabla</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
